# name.basics.tsv.gz 

https://datasets.imdbws.com/name.basics.tsv.gz

– Contains the following information for names:

* nconst (string) - alphanumeric unique identifier of the name/person
* primaryName (string)– name by which the person is most often credited
* birthYear – in YYYY format
* deathYear – in YYYY format if applicable, else '\N'
* primaryProfession (array of strings)– the top-3 professions of the person
* knownForTitles (array of tconsts) – titles the person is known for

```
CREATE TABLE IF NOT EXISTS `name.basics` (
  `nconst` varchar(12) NOT NULL,
  `primaryName` text NOT NULL,
  `birthYear` varchar(4) DEFAULT NULL,
  `deathYear` varchar(4) DEFAULT '\\N',
  `primaryProfession` text,
  `knownForTitles` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
```

#### import the name.basics.tsv file
```
load data infile '/export/name.basics.tsv' 
    into table `name.basics` 
    fields terminated by '\t' 
    lines terminated by '\n' 
    ignore 1 rows;
```
* Query OK, 11231957 rows affected (3 min 15.941 sec)  
* Records: 11231957  Deleted: 0  Skipped: 0  Warnings: 0

In [1]:
import mysql.connector
# widgets
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
# files
import os
import re
import shutil
import urllib.parse

 

import IMDBmedia as IM

IM.imdb['host'] = "localhost"
IM.imdb['user'] = "root"
IM.imdb['pass'] = "root"
IM.imdb['dbname'] = "IMDBmedia"

In [4]:
sql="""
SELECT * FROM `name.basics` LIMIT 5;
"""
val=()
SDB=IM.search_db(sql, val)
SDB

[('nm0000001',
  'Fred Astaire',
  '1899',
  '1987',
  'soundtrack,actor,miscellaneous',
  'tt0072308,tt0031983,tt0050419,tt0053137'),
 ('nm0000002',
  'Lauren Bacall',
  '1924',
  '2014',
  'actress,soundtrack',
  'tt0037382,tt0117057,tt0071877,tt0038355'),
 ('nm0000003',
  'Brigitte Bardot',
  '1934',
  None,
  'actress,soundtrack,music_department',
  'tt0056404,tt0049189,tt0057345,tt0054452'),
 ('nm0000004',
  'John Belushi',
  '1949',
  '1982',
  'actor,soundtrack,writer',
  'tt0080455,tt0078723,tt0072562,tt0077975'),
 ('nm0000005',
  'Ingmar Bergman',
  '1918',
  '2007',
  'writer,director,actor',
  'tt0083922,tt0060827,tt0050986,tt0050976')]

# If you look at the example bellow
I have made an example query for Jackie Chan, he has done many movies in USA and Hong Kong, more than this qurey lists `knownForTitles` field.

In [3]:
sql="""
SELECT * FROM `name.basics` WHERE primaryName = 'Jackie Chan';
"""
val=()
SDB=IM.search_db(sql, val)
SDB

[('nm0000329',
  'Jackie Chan',
  '1954',
  None,
  'producer,actor,stunts',
  'tt0127357,tt0120812,tt0089374,tt0266915'),
 ('nm10573924', 'Jackie Chan', None, None, '', None),
 ('nm11591426', 'Jackie Chan', None, None, 'sound_department', 'tt12332324'),
 ('nm12671651', 'Jackie Chan', None, None, 'actor', 'tt14810836'),
 ('nm1410309',
  'Jackie Chan',
  None,
  None,
  'miscellaneous,editorial_department,soundtrack',
  'tt3672840,tt0770472'),
 ('nm6095679', 'Jackie Chan', None, None, 'actress', 'tt3341184'),
 ('nm8871002', 'Jackie Chan', None, None, 'miscellaneous', 'tt0386977'),
 ('nm9552111', 'Jackie Chan', None, None, 'actor', None)]